.wrapper {
  width: 100%;
  min-height: 65px;
  position: relative;
  overflow: hidden;
  margin-top: var(--spacing-4);
}

.wrapper iframe {
  width: calc(100% + 4px) !important;
  margin: -2px;
  border: none;
}
